body {
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 490px;
    cursor: default;

}

a {
    cursor: default;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 7px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px#1f4ea5;
    transition: 0.2s;
    background-color: #d3d9ff;
}

input:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 12px#1f4ea5;
    background-color: white;

}

button {
    background: #3d8514;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(71, 71, 71);
    margin: 4px;
    transition: 0.2s;


}

button:hover{
    transform: scale(1.02);
    color: #3d8514;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(71, 71, 71);

}

button:active{
    background: #3d8514;
    color: white;
    transform: scale(1);

}

#tab {
    background: #141f85;
    color: white;
    border: 1px solid #414993;
    transition: 0.2s;


}

#tab:hover{
    transform: scale(1.02);
    color: #141f85;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(71, 71, 71);

}

#tab:active{
    background: #141f85;
    color: white;
    transform: scale(1);

}


#clr {
    background: red;
    color: white;
    border: 1px solid red;
    transition: 0.2s;


}

#clr:hover{
    transform: scale(1.02);
    color: red;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(71, 71, 71);

}

#clr:active{
    background: red;
    color: white;
    transform: scale(1);

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;


}



